body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times New Roman;
}

main{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1{
    text-align: center;
    color: hotpink;
}

hr{
    height: 3px;
    background: aqua;
    margin-bottom: 10px;
}

.velha button{
    width: 100x;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: white;
    color: pink;
}

.velha{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
  